body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',sans-serif;
    margin: 0px;
    padding: 0px; 
}

@font-face {
    font-family: "Homelander";
    src: url('homelander.ttf');
   }


nav { /*MENU*/
    position: fixed;
     width: 100%;
     background-color: black;
     opacity: 1;
     border-top: 5px solid rgba(92, 92, 97, 0.5);
     border-bottom: 5px solid rgba(83, 83, 90, 0.5);
     z-index: 10;
 }
 
 nav ul {
     margin: 0px;
     padding: 0px;
     overflow: hidden; /* pour cacher les éléments qui dépassent*/
 }
 
 nav li {
     list-style-type: none;
     float: right;
 }
 
 nav a {
     text-decoration: none;
     color: white;
 }
 
 .menu-utiliseruneinstru{
     display: inline-block;
     padding: 27px 40px;
     font-size: 20px;
     transition: 0.4s ease;
 }
 
 .menu-apropos{
     display: inline-block;
     padding: 27px 40px;
     font-size: 20px;
     transition: 0.4s ease;
 }

 .menu-drumkit{
    display: inline-block;
    padding: 27px 40px;
    font-size: 20px;
    transition: 0.4s ease;
  }

  .menu-drumkit:hover{
    background-color: rgba(187, 182, 182, 0.2);
    
}
 
 .menu-utiliseruneinstru:hover{
     background-color: rgba(187, 182, 182, 0.2);
     
 }
 
 .menu-apropos:hover{
     background-color: rgba(187, 182, 182, 0.2);
 }

 #logo {
    float: left;   /*float sert à surperposer un élément sur un autre*/
    width: 70px;
    height: 70px;
    padding: 3px;
    transition: all 0.3s ease;
}

#logo:hover {/*hover = animation quand je passe ma souris sur le logo*/
        
-webkit-transform: scale(0.8); /*rétrécissement du logo quand je passe ma souris* (webkit chrome safari android)*/
-ms-transform: scale(0.8); /*compatible internet explorer*/
-moz-transform: scale(0.8); /*mozilla firefox*/
transform: scale(0.8);
opacity: 0.5; 
}

#ytb {
    position: fixed;
    width: 100px;
    height: 77px;
    margin-top: 5px;
    display: inline-block;
    background-position: 20px 23px;
    background-image: url("ytblogo.png");
    background-size: 60px;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.4s ease;
    opacity: 0.7;
    z-index: 10; /*défini que mon logo youtube sera le plus devant possible*/
}

#ytb:hover {
    border-radius: 40%;
    filter: grayscale(0%);
    background-color: rgba(207, 18, 18, 0.685);
    opacity: 1;
}

#twitch {
  background-position: 25px;
  margin-top: 5px;
  margin-left: 100px;
  position: fixed;
  width: 100px;
  height: 77px;
  display: inline-block;
  background-image: url("ytblogo.png");
  background-size: 50px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.4s ease;
  opacity: 0.9;
  z-index: 10;
  background-image: url("twitchlogo.png");
}

#twitch:hover {
  border-radius: 40%;
  filter: grayscale(0%);
  background-color: rgba(135, 18, 182, 0.685);
  opacity: 1;
}


#background{
    position: fixed;
    background-image: url("fondretrofuturiste.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    width: 100%;
    height: 4000px;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
}

#aproposcontainer{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.192);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 1000px;
    z-index: 2;
}

#aproposcontainer2 {
    overflow: hidden;
    display: flex;
    width: 850px;
    height: 550px;
    background-color: rgb(44, 42, 42);
    align-self: center;
    padding-left: 15px;
    box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.363);
    z-index: 3;
 
}

#apropostitre{
    color: royalblue;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 2px solid royalblue;
}

#paragrapheapropos {
   line-height: 35px;
   font-size: 17px;
   font-style: italic;
   font-weight: normal;
   color: rgb(192, 186, 186);
}

#imgsiteweb1 {
    margin-right: -200px;
    margin-top: 170px;
    width: 550px;
    height: 320px;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.274);
    transform: rotate(0.03turn);
    transition: 0.8s ease-in-out;
    opacity: 0.9;
    z-index: 3;
} 

#imgsiteweb1:hover {
    transform: rotate(0.0turn);
}

#imgsiteweb2 {
    margin-bottom: 100px;
    margin-left: -300px;
    align-self:  flex-end;
    width: 500px;
    height: 280px;
    box-shadow: 7px 7px 2px 1px rgba(0, 0, 0, 0.274);
    transform: rotate(-0.02turn);
    transition: 0.8s ease-in-out;
    opacity: 0.9;
    z-index: 3;
} 

#imgsiteweb2:hover {
    transform: rotate(0.0turn);
}



@media all and (max-width: 1540px) {
    /*TABLETTE IPAD ET LAPTOP*/
  body {
      width: 100%;
      height: 100%;
  }


div img{
    display: none;
}
#background{
   background-position: 0px 80px;
    background-size: 120%;
    height: 1200px;
}
#aproposcontainer2 {
    margin-top: -170px;
}

}


@media all and (max-width: 920px) {
    /*PHONE*/
    div img{
        display: none;
    }
    #background{
       background-position: 0px 80px;
        background-size: 140%;
        height: 2000px;
    }
    #aproposcontainer2 {
        overflow: hidden;
        display: flex;
        width: 650px;
        height: 550px;
        background-color: rgb(44, 42, 42);
        align-self: center;
        padding-left: 15px;
        box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.363);
        z-index: 3;
        margin-top: -200px;
        overflow-y: scroll;
     
    }

}




@media all and (max-width: 500px) {
    /*PHONE*/
    nav {
        height: 70px;
      }
      .menu-apropos{
       font-size: 17px;
      
      }
      .menu-utiliseruneinstru{
        font-size: 17px;
      }
      .menu-drumkit{
        font-size: 17px;
       
      }
      #logo {
        width: 60px;
        height: 60px;
        padding: 5px;
      }
      #ytb {
        width: 90px;
        height: 70px;
        background-position: 16px 19px;
      }
       #twitch {
         background-position: 20px;
         margin-top: 5px;
         margin-left: 100px;
          width: 90px;
          height: 69px;
      }
    
      form div label {
        font-size: 0px;
      }
    
    
    }
    
    @media all and (max-width: 820px){
        /*PHONE*/
      body {
        background-size: 1000PX;
      }
      .barrederecherche input[type="text"]{
        opacity: 1;
        width: 100%;
        width: 350px;
        padding: 10px;
    
      }
      nav {
        height: 60px;
      }
      .menu-apropos{
        font-size: 16px;
        padding: 23px 10px;
       }
       .menu-utiliseruneinstru{
        padding: 23px 10px;
        font-size: 16px;
       }
       .menu-drumkit{
       padding: 23px 10px;
       font-size: 16px;
       }
       #logo {
       width: 50px;
       height: 50px;
       padding: 5px;
       }
       #ytb {
        width: 70px;
        height: 60px;
        margin-top: 5px;
        background-position: 8px 16px;
        background-size: 55px;
       }
       #twitch {
      background-position: 14px;
      margin-top: 5px;
      margin-left: 70px;
      width: 65px;
      height: 60px;
      background-size: 40px;
       }

    div img{
        display: none;
    }
    #background{
       background-position: 0px 80px;
        background-size: 140%;
        height: 2000px;
    }
    #aproposcontainer2 {
        overflow: hidden;
        display: flex;
        width: 100%;
        height: 660PX;
        background-color: rgb(44, 42, 42);
        align-self: center;
        padding-left: 15px;
        box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.363);
        z-index: 3;
        margin-top: -200px;
        overflow-y: scroll;
     
    }

}
