body {
    background-image: url("fondretrofuturiste.jpg");
    background-size: 100%;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans',sans-serif;
    margin: 0px;
    padding: 0px; /*marge intérieur*/
    height: 100vh;  /*viewport height*/
    width: 100%;
    
}

@font-face {
  font-family: "Homelander";
  src: url('homelander.ttf');
 }

 #logo {
    float: left;   /*float sert à surperposer un élément sur un autre*/
    width: 70px;
    height: 70px;
    padding: 3px;
    transition: all 0.3s ease;
}

#logo:hover {/*hover = animation quand je passe ma souris sur le logo*/
        
-webkit-transform: scale(0.8); /*rétrécissement du logo quand je passe ma souris* (webkit chrome safari android)*/
-ms-transform: scale(0.8); /*compatible internet explorer*/
-moz-transform: scale(0.8); /*mozilla firefox*/
transform: scale(0.8);
opacity: 0.5; 
}

#ytb {
    position: fixed;
    width: 100px;
    height: 77px;
    margin-top: 5px;
    display: inline-block;
    background-position: 20px 23px;
    background-image: url("ytblogo.png");
    background-size: 60px;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    transition: 0.4s ease;
    opacity: 0.7;
    z-index: 10; /*défini que mon logo youtube sera le plus devant possible*/
}

#ytb:hover {
    border-radius: 40%;
    filter: grayscale(0%);
    background-color: rgba(207, 18, 18, 0.685);
    opacity: 1;
}

#twitch {
  background-position: 25px;
  margin-top: 5px;
  margin-left: 100px;
  position: fixed;
  width: 100px;
  height: 77px;
  display: inline-block;
  background-image: url("ytblogo.png");
  background-size: 50px;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  transition: 0.4s ease;
  opacity: 0.9;
  z-index: 10;
  background-image: url("twitchlogo.png");
}

#twitch:hover {
  border-radius: 40%;
  filter: grayscale(0%);
  background-color: rgba(135, 18, 182, 0.685);
  opacity: 1;
}

nav { /*MENU*/
   position: fixed;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    border-top: 5px solid rgba(92, 92, 97, 0.5);
    border-bottom: 5px solid rgba(83, 83, 90, 0.5);
    z-index: 10;
}


nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden; /* pour cacher les éléments qui dépassent*/
}

nav li {
    list-style-type: none;
    float: right;
}

nav a {
    text-decoration: none;
    color: white;
}

.menu-utiliseruneinstru{
    display: inline-block;
    padding: 27px 40px;
    font-size: 20px;
    transition: 0.4s ease;
}

.menu-drumkit{
  display: inline-block;
  padding: 27px 40px;
  font-size: 20px;
  transition: 0.4s ease;
}

.menu-apropos{
    display: inline-block;
    padding: 27px 40px;
    font-size: 20px;
    transition: 0.4s ease;
}

.menu-drumkit:hover{
  background-color: rgba(187, 182, 182, 0.2);
  
}

.menu-utiliseruneinstru:hover{
    background-color: rgba(187, 182, 182, 0.2);
    
}

.menu-apropos:hover{
    background-color: rgba(187, 182, 182, 0.2);
}


#background{
    position: fixed;
    background-image: url("fondretrofuturiste.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
}

#big-container{
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#non-commercial-use-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 5px inset royalblue;
    border-left: 5px inset royalblue;
    border-right: 5px inset royalblue;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 90px;
    background-color: black;
    z-index:4;
    margin-top: 140px;
    margin-left: -480px;
}

#txt-noncommercial{
    font-size: 25px;
    color: blanchedalmond;
    letter-spacing: 2px;
}

#non-commercial-use-container2{
    border-bottom: 5px inset royalblue;
    border-left: 5px inset royalblue;
    border-right: 5px inset royalblue;
    position: absolute;
    overflow: hidden;
    width: 450px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    z-index:3;
    margin-top: 220px;
    margin-left: -480px;
}

#non-commercial-use-paragraphe {
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-style: normal;
}

#commercial-use-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 5px inset royalblue;
    border-left: 5px inset royalblue;
    border-right: 5px inset royalblue;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 90px;
    background-color: black;
    z-index:4;
    margin-top: 140px;
    margin-left: 400px;
}

#txt-commercial{
    font-size: 25px;
    color: blanchedalmond;
    letter-spacing: 2px;

}

#commercial-use-container2 {
    border-bottom: 5px inset royalblue;
    border-left: 5px inset royalblue;
    border-right: 5px inset royalblue;
    position: absolute;
    overflow: hidden;
    width: 450px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    z-index:3;
    margin-top: 220px;
    margin-left: 400px;
}

#commercial-use-paragraphe {
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 17px;
    letter-spacing: 0.5px;
    line-height: 25px;
    font-style: normal;
}

#footer-contact {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgb(0, 0, 0);
}

#footer-paragraphe {
    align-self: center;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 25px;
    font-style: oblique;
}


@media all and (max-width: 1441px){
    #non-commercial-use-container {
        margin-left: -400px;
    }
    #non-commercial-use-container2{
        margin-left: -400px;
    }

}



@media all and (max-width: 1100px){
    #non-commercial-use-container {
        margin-left: -250PX;
    }
    #non-commercial-use-container2{
        margin-left: -250PX;
    }
    #commercial-use-container {
        margin-left: 250px;
    }
    #commercial-use-container2 {
        margin-left: 250px;
    }
    #background{
        background-size: 120%;
    }



}



@media all and (max-width: 800px){
    nav {
        height: 60px;
      }
      .menu-apropos{
        font-size: 16px;
        padding: 23px 10px;
       }
       .menu-utiliseruneinstru{
        padding: 23px 10px;
        font-size: 16px;
       }
       .menu-drumkit{
       padding: 23px 10px;
       font-size: 16px;
       }
       #logo {
       width: 50px;
       height: 50px;
       padding: 5px;
       }
       #ytb {
        width: 70px;
        height: 60px;
        margin-top: 5px;
        background-position: 8px 16px;
        background-size: 55px;
       }
       #twitch {
      background-position: 14px;
      margin-top: 5px;
      margin-left: 70px;
      width: 65px;
      height: 60px;
      background-size: 40px;
     }
     #big-container{
        position: fixed;
        background-color: rgba(0, 0, 0, 0);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

}