    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;

 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************************************/

.background {
    width: 100%;
    height: 0px;
    z-index: 0;
    background-image: url("img/architecture-1868667_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1px);
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    background-attachment:fixed;
    
    
    
}

.big_container {
    width: 100%;
    height: 100vh;
    z-index: 1; 

    background-image: url("img/architecture-1868667_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;

    background-color: rgba(0, 0, 0, 0.699);
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    
}

.big_container_2 {
    width: 100%;
    height: 367.2px;
    z-index: 1; 
    display: flex; 
    flex-direction: column;
    
}




header {
    width: 100%;
    height: 18vh;
    z-index: 2; 
    display: flex;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.438);
}

header span {
    font-family: 'Bungee', cursive;
    font-size: 50px;
    color: rgb(219, 219, 219);
    align-self: center;
    letter-spacing: 2px;
}

.photo {
    background-image: url("img/IMG_7443.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 150px;
    height: 165.24px;
    align-self: center;
    border-radius: 150px; 
    box-shadow:-7px -7px 20px 3px rgba(0,0,0,0.71);
}

.apropos {  
  width: 100%;
  height:  110.16px;
  background-color: rgb(27, 27, 27);
  z-index: 5; 
  display: flex;
  box-shadow: 0px 13px 14px -3px rgba(0,0,0,0.77);
  justify-content: space-around;
}

.ptitebarre {
    width: 26.041666666666668vw;
    background-color: rgba(219, 219, 219, 0.514);
    height: 1px;
    z-index: 10;
    align-self: center;
}



.aproposspan {  
     font-size: 40px;
    color: rgb(219, 219, 219);
    align-self: center;
    letter-spacing: 2px;  
  
 
}

main {
    width: 100%;
    height: 321.3px;
    opacity: 1;
   background-color: rgb(187, 187, 187);
    z-index: 2; 
  
}

.p_main {
    text-align: center;
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    line-height: 43px;
   
}

.span_p_main {
    font-weight: bolder;
    font-size: 23px;
    color: #0a4985;
}

.compo_musi {
    color: #0a4985;
}


.nav {
    width: 100%;
    height: 15vh;
    z-index: 4;
    background-color: rgba(168, 39, 39, 0);
    display: flex;
    justify-content: space-around;
}

.icon{
align-self: center;
width: 5vw;
height: 5vw;
border-radius: 7vw;
background-color: #0a4985;
transition: 0.5s ease;
box-shadow: inset -7px -7px 50px 3px rgba(0, 0, 0, 0.486);
}


.contact {
    background-image: url(img/contact.png);
background-size: 75%;

background-repeat: no-repeat;
background-position: center;

}
.projet {
background-image: url(img/briefing.png);
background-size: 75%;
background-repeat: no-repeat;
background-position: center;

}
.linkedin {
background-image: url(img/linkedin.png);
background-size: 60%;
background-repeat: no-repeat;
background-position: center;
}
.youtube {
    background-image: url(img/youtube.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    }
    


.icon:hover {
width: 80px;
height: 80px;
border-radius: 60px;
filter: saturate(200%);

}

.div_contact {
    width: 100%;
    height: 293.76px;
    opacity: 1;
   background-color: rgb(187, 187, 187);
    z-index: 2; 
    display: flex;
    justify-content: center;
    
}



.smartphone {
    background-image: url(img/smartphone.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    }

    .icon_{
        margin-left: 50px;
        margin-right:50px ;
        align-self: center;
        width: 5vw;
        height: 5vw;
        border-radius: 7vw;
        background-color: #0a4985;
        transition: 0.5s ease;
        box-shadow: inset -7px -7px 50px 3px rgba(0, 0, 0, 0.486);
        }

        .tel {
            color: black;
           
        }

        .email {
            background-image: url(img/email.png);
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: center;
            
            }

 .big_container_3 {
  
    width: 100%;
    height: 100vh;
    z-index: 1; 
    display: flex; 
    flex-direction: column;    
    
    background-image: url("img/115641.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}     


.big_container_4 {
  
    width: 100%;
    height: 100vh;
    z-index: 1; 
    display: flex; 
    flex-direction: column;    
    
    background-image: url("img/115641.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}    

.projet_section {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba(187, 187, 187, 0.301);
    z-index: 3; 
    justify-content: space-around;
}

.div_section {
    align-self: center;
    width: 40%;
    height: 60vh;
    background-color: rgb(15, 32, 128);
    box-shadow: inset -7px -7px 50px 3px rgba(0, 0, 0, 0.486);
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    border-radius: 20px;
    transition: 0.8s ease;
    filter: grayscale(100%);

}


.div_section:hover {
    width: 45%;
    height: 90vh;
    filter: grayscale(0%);
    opacity: 1;
}

.titre_section {
        font-size: 30px;
       color: rgb(219, 219, 219);
       letter-spacing: 2px;
       text-align: center;
       text-decoration: underline;
     

}

.image_section {
    background-image: url("img/projet1_1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 40%;
    align-self: center;
}

.image_section_2 {
    background-image: url("img/projet1_2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 40%;
    align-self: center;
    transition: 0.5s ease;
}



.projet2 {
    background-image: url("img/projet2_1.jpg");

}

.projet2_1 {
    background-image: url("img/projet2_2.jpg");

}

.projet3 {
    background-image: url("img/projet3_1.jpg");

}

.image_section_3 {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 90%;
    height: 80%;
    align-self: center;
}

/****************************************************************************/

@media screen and (max-width: 1700px) {
    main {
    overflow-y: scroll;
    }
/********************************************************/
}
@media screen and (max-width: 1600px) {

   .icon{
    width: 6vw;
    height: 6vw;
    border-radius: 8vw;
    }
   

}

@media screen and (max-width: 1400px) {


    .div_contact {
        flex-direction: column;
    }
    .projet_section {
        height: 400vh; 
        flex-direction: column;
    }
    .div_section {
        width: 95%;
        height: 95vh;
        filter: grayscale(0%);
    }
    .big_container_3 {  
       height: 200vh;
   }   
    
   .div_section:hover {
    width: 95%;
    height: 95vh;
    filter: grayscale(0%);
    opacity: 1;
}
.big_container_4 {
  
    width: 100%;
    height: 100vh;
    z-index: 1; 
      
}  




 }








/********************************************/

@media screen and (max-width: 1200px) {
    .icon{
        width: 7vw;
        height: 7vw;
        border-radius: 9vw;
        }
        .ptitebarre {
          display: none;
        }
}

/******************************************************/

@media screen and (max-width: 870px) {
    .photo {
        display: none;
    }
    .p_main {
        font-size: 17px;
    }
    .aproposspan {  
        font-size: 30px;      
   }
   .icon{
    width: 8vw;
    height: 8vw;
    border-radius: 10vw;
    }

}

/**********************************/
@media screen and (max-width: 740px) {
    header span {
        font-size: 45px;
    }

}
/**************************************/
@media screen and (max-width: 650px) {
    header span {
        font-size: 40px;
    }

    .monemailtxt {
        font-size: 20px;
       }
}

/*************************************/

@media screen and (max-width: 600px) {
    header {
        width: 100%;
        height: 18vh;
        z-index: 2; 
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }


}

@media screen and (max-width: 475px) {
    .monemailtxt {
        font-size: 16px;
       }


}



