html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background-color: grey;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************************************/

.container_header {
 width: 100%;
 background-color: rgb(131, 126, 128);
 height: 9vh;
}

header {
    background-color: rgb(255, 255, 255);
    width: 55%;
    margin: 0 auto;
    height: 9vh;
}

header img {
    padding: 10px;
    height: 40px;
    width: 40px;
    margin-right: -50px;
}

.container_sous_header {
    display: flex;
    justify-content: space-between;
    height: 6vh;
}

.maboutique {
    font-size: 2.5vw;
    font-weight: bolder;
    font-style: italic;
    margin-top: 10px;
    margin-left: -50px;
}

.besoindaide {
    margin-top: 3px;
    color: rgb(30, 190, 230);
    font-size: 1.5vw;
}

.moncompte {
   background-color:rgb(30, 190, 230);
   height: 2.8vh;
   width: 20%;
   width: 25%;
   display: flex;
   justify-content: center;
}

.moncomptespan {
    color: white;
     align-self: center;
}

.container_sous_header_2 {
    display: flex;
    justify-content: space-between;
    height: 1vh;
}

.vel {
   color:rgb(189, 22, 167);
   padding: 0px;
   font-size: 0.8vw;
   margin-left: 50px;
   padding-left: 34px;
   margin-top: -5px;
}

#aide {
    width: 160px;
    height: 22px;
    align-self: center;
     margin-top: -30px;
     margin-left: -45px;
}



.panier {
    background-color: rgb(30, 190, 230);
    font-size: 13px;
    height: 5vh;
    width: 25%;
    
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-top: -20px;
}


#panier {
    width: 55px;
    height: 45px;
    align-self: flex-end;
    padding: 0px;
    margin-left: 5px;
    padding-bottom: 2px;
}


.paniertxt {
    color: white;
    font-size: 15px;
    align-self: center;
    margin-right: 5px;
}

.dla {
   text-align: center;
   margin-left: 0px;
   padding-left: 105px;
   font-size: 13px;
   color: rgb(207, 197, 197);
   margin-top: -5px;
}

.container_nav {
    width: 100%;
    background-color: rgb(131, 126, 128);
    height: 3.5vh;
}

.container_sous_nav {
    width: 55%;
    margin: 0 auto;
    height: 3.5vh;
    background-color: rgb(30, 190, 230);
    display: flex;
    justify-content: space-around;
}

div nav a {
    align-self: center;
    color: honeydew;
}


.container_main {
    width: 100%;
    background-color: rgb(131, 126, 128);
    height: 35vh;
    display: flex;
    justify-content: center;
}


main img {
    width: 55%;
    margin: 0 auto;
}

.blabla_container {
    width: 100%;
    background-color: grey;
    height: 17vh;
}

.blabla_sous_container {
    width: 55%;
    margin: 0 auto;
    height: 17vh;
    background-color: rgb(30, 190, 230);
    display: flex;
}

.blabla_art1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(228, 228, 228);
    height: 17vh;
    width: 22%;
}

.paiement {
    color: rgb(30, 190, 230);
    font-size: 20px;
    margin-right: 50px;
    
}


#paiement {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    margin-right: 25px; 
    width: 170px;
}

.parablabla {
    margin-left: 18px;
    margin-right: 25px;
    font-size: 15px;
}

.blabla_art2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(228, 228, 228);
    height: 17vh;
    width: 55%;
    border-left: 2px solid rgba(0, 0, 0, 0.719);
}

.quisommesnous {
    color: rgb(30, 190, 230);
    font-size: 20px;
}

.paramiddle {
    padding: 12px;
    font-size: 0.9vw;
}

.blabla_art3 {
    display: flex;
    flex-direction: column;  
    background-color: rgb(228, 228, 228);
    height: 17vh;
    width: 24%;
    border-left: 2px solid rgba(0, 0, 0, 0.719);
}

.services {
    padding: 12px;
    color: rgb(30, 190, 230);
    font-size: 20px;
}

.camtard {
    display: flex;
    background-image: url("img/camion.png");
    background-repeat: no-repeat;
    background-size: 80%;
    height: 40px;
    width: 50px;   

}

.camtard_contain {
    display: flex;
    height: 40px;
    width: 100%;
     margin-left: 20px;
}

.p_camtard {
    align-self: center;
    font-size: 15px;
}

.produit {
   
    display: flex;
    background-image: url("img/echange.png");
    background-repeat: no-repeat;
    background-size: 80%;
    height: 40px;
    width: 50px;   

}

.produit_contain {
    margin-top: 10px;
    display: flex;
    height: 40px;
    width: 100%;
     margin-left: 20px;
}



.un {
    width: 100%;
    background-color: grey;
    height: 28vh;
}

.deux {
     width: 55%;
     background-color: rgb(228, 228, 228);
     height: 28vh;
     margin: 0 auto;
     display: flex;
     justify-content: space-around;
}

.bonplan_container {
    background-color: rgb(228, 228, 228);
    box-shadow: 3px 3px 3px 3px;
    width: 30%;
    height: 20vh;
    align-self: center;
    border-radius: 20px;
   
}

.coupdecoeur_container {
    background-color: rgb(228, 228, 228);
    box-shadow: 3px 3px 3px 3px;
    width: 30%;
    height: 20vh;
    align-self: center;
    border-radius: 20px;
}

.objectif_container {
    box-shadow: 3px 3px 3px 3px;
    background-color: rgb(228, 228, 228);
    width: 30%;
    height: 20vh;
    align-self: center;
    border-radius: 20px;

}

article h3 {
    text-align: center;
    background-color: grey;
    height: 3vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    line-height: 30px;
    font-weight: bolder;

}

.section_carre {
    display: flex;
    height: 17vh;
}

#robe {
   width: 70px;
   height: 130px;
   align-self: center;
   padding-left: 20px;
}

#talons {
    width: 85px;
    height: 80px;
    align-self: center;
    padding-left: 20px;

}

#chemise {
    width: 95px;
    height: 100px;
    align-self: center;
    padding-left: 20px;


}

.bloc {
    padding-left:20px ;
    padding-right:20px ;
    align-self: center;

}



footer {
    width: 100%;
    background-color: grey;
     height: 5vh;
}

.trois {
    width: 55%;
    background-color: rgb(30, 190, 230);
    height: 5vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
}

footer nav a {
    color: white;
}